<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="appProramme_messe.Properties.Settings.programme_sjConnectionString"
            connectionString="server=localhost;User Id=root;database=programme_sj"
            providerName="MySql.Data.MySqlClient" />
        <add name="appProramme_messe.Properties.Settings.ConnectionString"
            connectionString="Dsn=database;uid=root" providerName="System.Data.Odbc" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
